body{
 display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .container{
        background-color: brown;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 11rem;
        height:11rem;
        box-sizing: 0.7em;
        border: 0.2em inset rgb(165, 195, 105);
    }

    #dragItem{
    width: 4rem;
    height: 4em;
    background-color: rgb(32, 33, 36);
    color: antiquewhite;
    border-radius: 50%;
}

    .dropBox{
    display: flex;
    justify-content: center;  
    align-items: center;  
    background-color: rgb(195, 80, 195);
    margin: 20vh;
    width: 12.5em;
    height: 12.5em;
    border: 3rem groove rgb(26, 25, 25);
    border-radius: 1em;
    transition: 2s all ease-in-out;

}

.itemSwap{
    opacity: .6;
    transform: scale(1.12);
}

@media screen and (max-width:500px) { 
    body{
        display: flex;
        flex-direction: column;
    }
    .container{
        background-color: rgb(63, 38, 151);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8rem;
        height:8rem;
        box-sizing: 0.7em;
        border: 0.2em inset rgb(165, 195, 105);
    }

    #dragItem{
    width: 2.3rem;
    height: 2.3em;
    background-color: rgb(213, 217, 230);
    color: rgb(212, 140, 47);
    border-radius: 50%;
}

    .dropBox{
    display: flex;
    justify-content: center;  
    align-items: center;  
    background-color: rgb(116, 195, 80);
    margin: 20vh;
    width: 9.5em;
    height: 9.5em;
    border: 3rem groove rgb(26, 25, 25);
    border-radius: 1em;
    transition: 2s all ease-in-out;

}

.itemSwap{
    opacity: .4;
    
}

}
